services:
  frontend-test:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3001:80"
    depends_on:
      backend-test:
        condition: service_healthy
    dns:
      - 8.8.8.8
      - 8.8.4.4
  backend-test:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        - BUILDKIT_INLINE_CACHE=1
    ports:
      - "8081:8081"
    depends_on:
      mongodb-test:
        condition: service_healthy
    environment:
      - MONGODB_URI=mongodb://mongodb-test:27017/saarthitest
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 8081"]
      interval: 10s
      timeout: 3s
      retries: 20
      start_period: 240s
    dns:
      - 8.8.8.8
      - 8.8.4.4
  mongodb-test:
    image: mongo:6
    ports:
      - "27018:27017"
    volumes:
      - mongo-test-data:/data/db
    command: ["--quiet"]
    healthcheck:
      test: mongosh --eval "db.adminCommand('ping')" --quiet
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
    dns:
      - 8.8.8.8
      - 8.8.4.4

volumes:
  mongo-test-data:

